.search-results-page-main {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.search-results-page-header {

}

.search-results-page-list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.search-results-page-body {
    align-self: center;
    justify-content: space-between;
    padding: 10px;
}